<div class="main-container">
    <div class="image-container">
        <img src="assets/media.jpg" alt="">
    </div>
    <div class="body-container">

        <div class="intro">
            <h1>
                Akhilesh Sharma
            </h1>
            <h4>
                Dalhousie, Himachal Pradesh
            </h4>
            <h2>
                UI Developer
            </h2>
            <h3>
                Invisibly
            </h3>
            <h5>
                B.Tech. CSE Hons. from Lovely Professional University.
            </h5>
        </div>

        <hr>

        <div class="about-container">
            <div id="aboutme">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore mafLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore maLorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore maLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore maLorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore maLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore ma
            </div>
        </div>

        <table class="all-skills" cellpadding="0px">
            <tbody>
                <tr>
                    <td class="skill" id="skills">
                        <div class="skill-text">
                            Skills
                        </div>
                    </td>
                    <td class="skill" id="skill1">
                        <div class="skill-name">
                            <img src="assets/icons/python.png" class="skill-icon"> Python
                        </div>
                    </td>
                    <td class="skill" id="skill2">
                        <div class="skill-name">
                            <img src="assets/icons/node.png" class="skill-icon"> Node
                        </div>
                    </td>
                    <td class="skill" id="skill3">
                        <div class="skill-name">
                            <img src="assets/icons/angular.png" class="skill-icon"> Angular
                        </div>
                    </td>
                    <td class="skill" id="skill4">
                        <div class="skill-name">
                            <img src="assets/icons/gcp.png" class="skill-icon"> GCP
                        </div>
                    </td>
                    <td class="skill" id="skill5">
                        <div class="skill-name">
                            <img src="assets/icons/xd.png" class="skill-icon"> XD
                        </div>
                    </td>
                    <td class="skill" id="skill6">
                        <div class="skill-name">
                            <img src="assets/icons/photoshop.png" class="skill-icon"> Photoshop
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>